body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 100%;
}

#menu {
    display: flex;
    justify-content: center;
}

#menu li {
    list-style-type: none;
    margin: 1em;
    border-right: 3px solid orange;
    
}

#menu li a {
    text-decoration: none;
    font-size: 1.5em;
    color: cornflowerblue;
}

.head {
    height: 40vh;
    border: 2px solid red;
    margin: 1em;
}


#content {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
}


#article {
    width: 30%;
    border: 2px solid red;
    padding: 1em;
}

#article img {
    width: 80%;
}
#vuearticle {
    width: 80%;
    margin: auto;
    border: 2px solid red;
}

