body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 100%;
}

#menu {
    display: flex;
    justify-content: center;
}

#menu li {
    list-style-type: none;
    margin: 1em;
    border-right: 3px solid orange;
    
}

#menu li a {
    text-decoration: none;
    font-size: 1.5em;
    color: cornflowerblue;
}

.head {
    width: 100%;
    height: 40vh;
    border: 2px solid red;
    margin: auto;
}

.index_menu {
    height: 10vh;
    width: 100;
    margin: 0 0 4em 0;
    border: 2px solid red;
}

.index_menu p {
    text-align: center;
}


#content {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
}


#article {
    width: 30%;
    height: 30%;
    border: 2px solid red;
    padding: 1em;
}

#article h1 {
    font-size: 1.25em;
}

#article .prix {
    color: orange;
}

#article .description {
    font-style: italic;
}

#article a {
    text-decoration: none;
    color: cornflowerblue;
}

#article img {
    width: 25%;
    display: inline-block;
    border: 2px solid red;
}
#vuearticle {
    justify-self: left;
    width: 80%;
    height: 50%;
    border: 2px solid red;
    
}

#vuearticle img {
    height: 30%;
    width: 30%;
    border: 2px solid red;
}


#vuearticle .prix{
    color: orange;
}

.fenetrePrix {
    width: 20%;
    height: 50%;
    border: 2px solid red;
}

